<header class="navbar navbar-fixed-top navbar-inverse">
  <div class="container">
    <%= link_to "lazy", '#', id: "logo" %>
    <nav>
      <ul class="nav navbar-nav navbar-right">
        <li><%= link_to 'Chat', root_path %></li>
        <li><%= link_to 'Calender', calendar_index_path %></li>
        <li><%= link_to 'Todo', '#' %></li>
        <li><%= link_to 'LogIn', '#' %></li>
      </ul>
    </nav>
  </div>
</header>
